
<div class="content">
    <div class="content__title">
        <span>Kullanıcı bilgileri</span>
    </div>
    <div class="content__body">
        <ul>
            <li>
                <span>Kullanıcı adı</span>
                <span>@ViewBag.nickname</span>
            </li>
            <li>
                <span>İsim</span>
                <span>@ViewBag.name</span>
            </li>
            <li>
                <span>Toplam Repository</span>
                <span>@ViewBag.repositoryCount</span>
            </li>

        </ul>
    </div>
</div>