
@{
    Layout = null;
}

<li>
	<span>Commit Sayısı</span>
	<span>@ViewBag.repositoryCommit</span>
</li>
<li>
	<span>Yıldız Sayısı</span>
	<span>@ViewBag.StarCount</span>
</li>
<li>
	<span>Açıklama</span>
	<span>@ViewBag.repositoryDescription</span>
</li>
<li>
	<span>İzleyiciler</span>
	<span>@ViewBag.WatchersCount</span>
</li>
