<div class="section__container_head">
    <img src="~/GitHubApp-main/static/Image/logo.png" alt="">
    <span class="title">Github Bilgi Toplama Aracı | Ar-Ge Ekibi </span>
    <form action="Search" class="form" method="post">
        <label for="">Kullanıcı adı</label>
        <input type="text" name="parameter" placeholder="ar-ge Ekibi">
        <button>Ara</button>
    </form>
</div>
